<template name="layout">
    <header class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{pathFor 'rankingsList'}}">Ladder</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{{pathFor 'reportLoss'}}">Report Loss</a></li>
          <li class="inactive"><a href="#">Recent Matches</a></li>
        </ul>
      </div>
    </header>
    <body>
    <div id="main">
      {{> yield}}
    </div>
  </body>
</template>
